<!DOCTYPE html>
<html>
<head>
  <title>TodoMvcV2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <footer id="info">
    <p>Click to edit a todo</p>
    <p>Created by <a href="http://github.com/starspace1">Leslie Brown</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
  </footer>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/app.js"></script>
  
</body>

</html>
