
<!DOCTYPE html>
<html>
<head>
  <title>New Student</title>
</head>
<body>
  <h1>Add someone new!</h1>
  <form action="/people/create_student" method="POST">
    <fieldset>
      <legend>New Student</legend>
      <label for="name">Name</label>
      <input id = "name" type="text" name="person[name]"><br><br>
      <label for="subject">Subject</label>
      <input id = "subject" type="text" name="person[subject]"><br><br>
      <label for="github">Github Account</label>
      <input id ="github" type="text" name="person[github_account]"><br><br>
      <button>Add!</button>
    </fieldset>
  </form>
  <br><a href = "/people">Back Home</a>
</body>
</html>
