Convert to Roman Numerals:

<p>
  <form action="/romans/show" method="POST" id="num_form">
    <input type="text" value="<%= @value %>" name="num">
    <button type="submit" form="num_form" value="Convert">Convert</button>
  </form>
</p>

<p>Result is: <%= @result %></p>