<h1>CatFacts</h1>
<p><%= @fact %></p>
<p><%= button_to 'Send to Channel', { :controller => "cat_facts", :action => "send_message", :fact => @fact }, :method=>:post %></p>
<p><%= link_to 'Authorize Slack', authorize_path %></p>